*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}

.nav-container{
    width: 100%;
    height: 70px;
    background-color: rgb(0,189,172);
    justify-content: space-evenly;
    display: flex;
    align-items: center;

}

.nav-container > .bars{
    display: flex;
    display: none;
}
.bars > .fa-solid {
    color: white;
    font-size: 20px;
    padding: 10px;
}
.bars > p{
    color: white;
    /* background-color: white; */
    padding: 10px;
}

ul{
    display: flex;
    list-style: none;
}
ul > li > a{
    text-decoration: none;
    padding: 20px;
    color: white;
    list-style: none;
}

ul > li > a:hover{
    color: white;
    background-color: rgb(241,100,143);
    /* transition: 2s; */
    padding: 26px;
}



.nav-container >form > input{
    text-align: center;
    padding: 20px;
    width: 260px;
    height: 57px;
    color: black;
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
    text-align: start;
    border: none;

}

.icon-bar{
    display: flex;
    width: 100%;
    background-color: rgb(250,250,250);
    height: 30px;
    margin-top: 10px;
    justify-content: space-between;
    

}
.icon-bar > p{
    color: rgb(159, 152, 152);
    border-bottom: 1.5px solid lightgray;
    margin-right: 150px;
    font-weight: 300;
    
}
.icon-bar > .icon{
  margin-left: 150px;  
}
.icon > .fa-brands {
    font-size: 13px;
    color: rgb(0,189,172);
    
    padding: 4px;

}
.negotiate-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 130px;

}
.logo > h1{
    color: black;
    /* font-weight: bolder; */
    font-size: 2.1rem;
    font-weight: bold;
}
.logo > h4{
    color: rgb(172, 167, 167);
    font-size: 15px;

}
.fa-solid{
    font-size: 20px;
    color: rgb(0,189,172);
    padding: 5px;
}
span{
    font-size: 18px;
    /* padding: 10px; */
    font-weight: 200;
    color: rgb(88, 86, 86);
}
span > h5{
    padding-left: 30px;
    color: rgb(88, 86, 86);
    font-size: 17px;
}


@media screen and (max-width:650px) {
    .icon-bar{
        width: 100%;
        display: flex;
        align-self: flex-start;
        justify-content: space-between  ;
        margin: 0%;

    }
    .icon-bar > p{
        margin: 0%;
    }
    .icon-bar > .icon{
        margin: 0%;
        align-items: flex-start;
        justify-content: flex-start;
        display: flex;
    }
    .negotiate-bar{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0%;
        padding: 0%;
    }
    .logo{
        padding-bottom: 10px;
    }
    .mail{
        padding-bottom: 10px;
    }
    .call{
        padding-bottom: 10px;
    }
    .time{
        padding-bottom: 10px;
    }


    span{
     padding: 0%;
     margin: 0%;
    }

    
    .nav-container{
        justify-content: space-around;
        margin-top: 150px;
        padding: 0%;
    }
    .nav-container > .bars{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
        margin: 0%;
        padding: 0%;
    }
    .bars > p{
        font-size: 18px;
        padding: 5px;
        font-weight: lighter;
    }
    .bars > .fa-solid{
        padding: 5px;
        
    }
  

    ul{
        display: none;
        margin: 0%;
        padding: 0%;
    }
    form > input{
    border: none;
    padding: 0%;
    margin: 0%;
}

}


.service-container{
    width: 100%;
    flex-direction: column;
}

.banner{
    width: 100%;
    flex-direction: column;
    height: 400px;
    background-image: url(asset/index.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}




.banner > .banner-text{
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    transform: translateX(90%);
    padding-top: 200px;

}
.banner-text > h1{
    font-size: 2.5rem;
    color: white;
}

.banner-text > span{
    display: flex;
    padding: 10px;
    color: white;
}
.banner-text > span > p{
    padding: 5px;
    font-size: 17px;
    color: white;
}




.servi-container{
    width: 100%;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    

}
.services-box{
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px auto;

}

.services-box >h4{
  color: rgb(0,189,172);
}

.services-box >h1{
  color: black;
  padding: 20px;
}

.services-box >p{
  color: rgb(142,142,142);
  font-size: 19px;

}
.services-box1{
    display: flex;
    width: 95%;
    margin: 20px auto;
}
.servicebox1{
 width: 30%;
 height: 600px;
 margin-left: 50px;
}


.boton-box > button{
    width: 80%;
    height: 80px;
    margin: 5px;
    background-color: white;
    color: black;
    border: 1px solid rgb(172, 167, 167);
    border-radius: 5px;
    font-weight: bold;
    font-size: 19px;
    
}
 button:hover{
    background-color: rgb(0,189,172);
    color: white;
}
 .boton-box > button  > .fa-solid{
    font-size: 27px;
    color: rgb(0,189,172);
}


.servicebox2{
    width: 55%;
    flex-direction: column;
}

.servicebox2 > .serve-pic{
    width: 100%;
    height: 400px;
    
    background-image: url(asset/image-355.png.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }

   .servicebox2 > .serve-cmt{
     justify-content: center;
     align-items: center;
     text-align: start;
   }
   .serve-cmt > h3{
    font-size: 2rem;
    font-weight: bold;
    padding-top:10px ;
   }
   .serve-cmt > p{
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
    color: rgb(142,142,142);
   }

   @media screen and (max-width:650px) {
    
    .services-container{
        width: 100%;
        flex-direction: column;
        /* margin-top: 800px; */
       }
       .servi-container{
        width: 100%;
        flex-direction: column;
        margin: 0%;
        padding: 0%;
       }
       .services-box{
          width: 100%;
          flex-direction: column;
          margin: 0%;
          align-items: center;
          justify-content: center;
          padding-bottom: 100px;
          padding: 0%;
       }
        
       
      .services-box1{
          width: 100%;
          flex-direction: column;
          margin: 0%;
          align-items: center;
          justify-content: center;
          padding: 0%;
  
      }
      .servicebox1{
          width: 100%;
          flex-direction: column;
          margin: 0%;
          padding: 0%;
          align-items: center;
          justify-content: center;
      }
      .boton-box{
        flex-direction: column;
        width: 100%;
        margin: 0%;
        padding: 0%;
        align-items: center;
        justify-content: center;
      }
      .boton-box > button{
        width: 100%;
        margin: 0%;
      }
     
      button  > .fa-solid{
        font-size: 27px;
        color: rgb(0,189,172);
    }
      .servicebox2{
          width: 100%;
          flex-direction: column;
      }
      .serve-pic{
          width: 100%;
          flex-direction: column;
      }
     
      .serve-cmt {
    text-align: center;
    padding: 20px;
    font-size: 20px;

      }
      

}


.business-icon{
    flex-direction: column;
    width: 100%;
   
}
.business-box{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icons-box{
    width: 400px;
    height: 300px;
    border: 0.5px solid rgb(159, 152, 152);
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icons-box >.fa-solid{
    font-size: 40px;
    margin-top: 20px;
    
}
.icons-box > h4{
    font-size: 25px;
    color: black;
    margin: 5px;
    
}
.icons-box > p{
    font-size: 20px;
    color: rgb(172, 167, 167);
    margin: 3px;

}


@media screen and (max-width:650px) {
    .business-box{
        width: 100%;
        flex-direction: column;
        margin: 0%;
    }
    .business-icon{
        flex-direction: column;
        width: 100%;
    }
    .icons-box{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px;
    }

    .icons-box > h4{
        padding-top: 50px;
    }

}






.info-container{
    flex-direction: column;
    width: 100%;
    margin-top: 200px;
    height: 600px;
    background-color: black;
}

.info-contain{
    display: flex;
    justify-content: space-evenly;
}

.info-contain >.question{
    flex-direction: column;
    margin-top: 100px ;

}
.question > h3{
    color: white;
    padding: 20px;
    font-size: 1.5rem;

}

.question >span{
    display: flex;
    padding: 5px;
    font-size: 20px;
    
}
span > .fa-solid {
    color: white;
    padding: 10px;
}
span > p{
    font-size: 18px;
    color: rgb(142,142,142);
    padding: 10px;
}
 span > h6{
    font-size: 17px;
    color: white;
    padding: 10px;
 }

 .question > a >.fa-brands{
    font-size: 20px;
    background-color: rgb(0,189,172);
    color: white;
    border-radius: 100px;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    
 }


 .info-contain >.links{
    flex-direction: column;
    margin-top: 100px ;

}
.links > h3{
    color: white;
    padding: 20px;
    font-size: 1.5rem;

}


.links>span{
    display: flex;
    font-size: 20px;
    
}
span > .fa-solid {
    color: rgb(142,142,142);
    font-size: 15px;
   
}
span > p{
    font-size: 15px;
    color: rgb(142,142,142);
    
   
}


.recent-blog{
    flex-direction: column;

}

.info-contain >.recent-blog{
    flex-direction: column;
    margin-top: 100px ;
    width: 400px;
    
    

}

.recent-blog > h3{
    color: white;
    padding: 20px;
    font-size: 1.5rem;

}

.blogg{
    display: flex;
   
}
 .blogs{
    width: 100px;
    height: 80px;
    background-image: url(asset/blog\ 3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
 }

 .blogs1{
    width: 300px;
    margin: 20px;


 }
 .blogs1 > h5{
    color: white;
    font-size: 18px;
 }


 .blogs1 > span{
    display: flex;
    font-size: 10px;
    
}

.blogs1 > span > .fa-solid {
    color: rgb(142,142,142);
    font-size: 13px;
   
}
.blogs1 > span > p{
    font-size: 13px;
    color: rgb(142,142,142);
    
}


.info-contain >.subscribe{
    flex-direction: column;
    margin-top: 100px ;
    width: 400px;
}

.subscribe > h3{
    color: white;
    padding: 20px;
    font-size: 1.5rem;

}
.subscribe > form > input{
    width: 250px;
    height: 55px;
    background-color: rgb(58, 55, 55);
    color: rgb(142,142,142);
    margin: 5px;
    font-size: 20px;
    
}
.subscribe > button{
    width: 250px;
    height: 55px;
    background-color: rgb(0,189,172);
    color: white;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    
}

.info-contain >.copyright-contain{
    flex-direction: column;
    /* padding-left: 200px ; */
    font-size: 20px ;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.copyright{
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px auto;

}

.copyright > h5{
    color:rgb(159, 152, 152);
    padding-top: 100px;
    font-size: 18px;

}



@media screen and (max-width:650px) {

    .info-container{
       width: 100%;
       flex-direction: column;
       background-color: black;
       margin: 0%;
       padding: 0%;
       justify-content: center;
       
    }
    .info-contain{
       width: 100%;
       flex-direction: column;
       background-color: black;
       margin: 0%;
       align-items: center;
       padding: 0%;
       justify-content: center;
    }
    
    .info-contain >.question{
        width: 100%;
        flex-direction: column;
        /* margin: 10px; */
    
    }
    .info-contain > .links{
        width: 100%;
        flex-direction: column;
        margin: 10px;
    }

    .info-contain > .recent-blog{
        margin: 0%;
        width: 100%;
        padding: 0%;
        flex-direction: column;
    
   }
    
   .info-contain >.subscribe{
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0%;
}

.subscribe > form {
    
    width: 70%;
    padding: 0%;
}
.subscribe > button{
    margin: 10px;
    padding: 0%;
}
    
    .copyright-contain{
        width: 100%;
        background-color: black;
        margin: 0%;
        padding: 0%;
     }
    
      .copyright{
        width: 100%;
        margin: 0%;
        padding: 0%;
     }
    
     

    
    }